<app-navbar></app-navbar>
<div class="container" *ngIf="project">
    <div class="row mt-3 border bg-white rounded-3">
        <h2 class="p-2 m-4"><i class="fa-solid fa-plus"></i>Agregar proyecto</h2>
        <div class="col-md-8 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="col-md-12 form-group mb-2 p-2">
                    <label for="name" class="mb-2"><b>Nombre del proyecto</b></label>
                    <input type="text" class="form-control" id="name" name="name"
                    [(ngModel)]="project.name" required>
                </div>
                <div class="col-md-12 form-group mb-2 p-2">
                    <label for="description" class="mb-2"><b>Descripción del proyecto</b></label>
                    <textarea rows="3" class="form-control" id="description" name="description"
                    [(ngModel)]="project.description" required></textarea>
                </div>
                <div class="col-md-12 form-group mb-2 p-2">
                    <label for="url_image" class="mb-2"><b>URL de foto de una foto ilustrativa del proyecto</b></label>
                    <input type="text" class="form-control" id="url_image" name="url_image"
                    [(ngModel)]="project.url_image" required>
                </div>
                <div class="col-md-12 form-group mb-2 p-2">
                    <label for="url_liveDemo" class="mb-2"><b>URL de una vista previa del proyecto</b></label>
                    <input type="text" class="form-control" id="url_liveDemo" name="url_liveDemo"
                    [(ngModel)]="project.url_liveDemo" required>
                </div>
                <div class="col-md-12 form-group mb-2 p-2">
                    <label for="url_sourceCode" class="mb-2"><b>URL del código fuente</b></label>
                    <input type="text" class="form-control" placeholder="Por ejemplo, de GitHub" id="url_sourceCode" name="url_sourceCode"
                    [(ngModel)]="project.url_sourceCode" required>
                </div>
                <div class="col-md-12 form-group mb-2 p-2 ">
                    <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                        <i class="fas fa-plus-circle m-2"></i>Editar</button>
                    <button class="btn btn-outline-primary btn-block m-2 " routerLink="/home">
                        <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </form>
        </div>
    </div>
</div>