<section class="mat-card card project mx-auto" id="projects">
    <div class="title-button">
      <h3 class="content-title">Proyectos</h3>
      <i class="fa-solid fa-plus" *ngIf="isAdmin == true" routerLink="nuevoProyecto"></i>
    </div>
    <div class="content">
      <li *ngFor="let projects of projects">
        <mat-card class="example-card">
          <div style="padding: 5px;" class="title-button">
            <h5 class="card-title">{{projects.name}}</h5>
            <div class="d-block">
              <span style="padding-right: 5px;"><i class="fa-solid fa-edit" *ngIf="isAdmin == true" routerLink="editarProyecto/{{projects.id}}"></i></span>
              <span style="padding-right: 5px;"><i class="fa-solid fa-trash" *ngIf="isAdmin == true" (click)="deleteProject(projects.id!)"></i></span>
            </div>
          </div>
          <img mat-card-image src="{{projects.url_image}}" alt="Project Image">
            <p>
              {{projects.description}}
            </p>
          <mat-card-actions>
            <a href="{{projects.url_liveDemo}}"><button mat-button>Live Demo</button></a>
            <a href="{{projects.url_sourceCode}}"><button mat-button>Source Code</button></a>
          </mat-card-actions>
        </mat-card>
      </li>
  
      <!-- 
      <li *ngFor="let projects of projectList">
        <div class="mat-card">
          <img src="{{projects.projectImage}}" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="title-button">
              <h5 class="card-title">{{projects.name}}</h5>
              <i class="fa-solid fa-edit"  data-bs-toggle="modal" data-bs-target="#editproject"></i>
            </div>
            <p class="card-text">{{projects.description}}</p>
            <a href="{{projects.linkLiveDemo}}" class="card-link">Live Demo</a>
            <a href="{{projects.linkSourceCode}}" class="card-link">Source code</a>
          </div>
        </div>
      </li>
      -->
    </div>
  </section>