<!-- Home section -->
<div class="card mat-card mx-auto" id="card-about" *ngFor="let person of persons">
    <img class="profile-cover" src="{{person.url_banner}}" alt="Card image cap">
    <div class="profile-details">
      <div class="info-about">
        <div class="img-about mb-3" id="profile-pfpEdit">
          <img src="{{person.url_pfp}}" id="profile-pfp">
          <i class="fa-solid fa-pen-to-square" *ngIf="isAdmin == true" (click)="editarPerson(person.id!)"></i>
        </div>
  
        <div class="mb-3" id="info-data">
          <div>
            <h2>{{person.fullname}}</h2>
            <div id="info-company"><p style="font-size: 18px">{{person.ocupation}}</p></div>
          </div>
          <ul id="info-details">
            <li>
              <a href="#" style="text-decoration: none;">
                <img src="{{person.url_institution}}" alt=""
                  class="logo-unpa">
                <h5>{{person.intitution}}</h5>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>